

html,body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 14px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.main {
    flex: 1; /* Đẩy footer xuống dưới */
}



