

.img__logo{
    width: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    padding: 10px 15px 10px 15px;
    background-color: #fff;
}
.btn{
    width: 360px;
    font-size: 26px;
    color: black;
   
}
.btn-Dat{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.btn:hover{
    background-color: #800000;
    border: solid  #800000;
    color: #ffffff;
}

.header-hastag__list{
    display: flex;
    background-color: #f4f4f4;
    width: 300px;
    margin-left: 40px;
    justify-content: center;
}
.hastag__item{
    padding: 10px 10px 10px 10px;
}
.hastag__link{
    color: #800000;
}

#formContainer {
    background-color: #F2E8C6;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  
}

.form-header h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
   
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #666;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-group textarea {
    resize: none;
    height: 60px;
}

.submit-btn {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #ad0303;
}