

.img__logo{
    width: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    padding: 10px 15px 10px 15px;
    background-color: #fff;
}
.btn{
    width: 360px;
    font-size: 26px;
    color: black;
   
}
.btn-Dat{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.btn:hover{
    background-color: #800000;
    color: #ffffff;
}

.header-hastag__list{
    display: flex;
    background-color: #f4f4f4;
    width: 300px;
    margin-left: 40px;
    justify-content: center;
}
.hastag__item{
    padding: 10px 10px 10px 10px;
}
.hastag__link{
    color: #800000;
}